footer {
  background-color: #ffffff;
  display: flex;

  justify-content: start;
  z-index: 50;
  padding: 0;
}

.footer-containers {
  position: relative;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 0.5rem;
  font-size: 1.25rem;
}

.footer-containers div {
  margin: auto;
}

footer .footer-pages > ul {
  list-style: none;
  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding-left: 1.5rem;
}

footer .footer-pages {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-left: 1.5rem;
}

.footer-link {
  justify-content: start;
}

.footer-dropdown {
  position: relative;
  display: inline-block;
}

.footer-dropdown-content {
  display: none;
  z-index: 1;
}
.footer-dropdown-content > div {
  display: flex;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 2rem;
}

.footer-dropdown:hover .footer-dropdown-content {
  display: block;
}

.footer-links {
  text-align: center;
}

.footer-links li {
  display: inline-block;
  position: relative;
  padding-right: 1.25rem;
}

.footer-links li::before {
  content: "/";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0rem;
  color: rgba(0, 0, 0, 0.322);
}

.footer-links li:last-child {
  padding-right: 0;
}

.footer-links li:last-child {
  padding-right: 0;
}
.footer-links li:last-of-type::before {
  display: none;
}

.footer-socials {
  display: flex;
  gap: 1rem;
}
