@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%; /* Look, it's not fixed anymore! */
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

body {
  background-image: url(../../public/background_main.png);
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-repeat: repeat;
  background-size: cover;
  min-height: 100%;
  min-height: 100dvh;
  @apply font-sans;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;

  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.bg-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  height: 100%;
  width: 100%;
}

.about-overlay {
  display: flex;
  position: relative;
  z-index: 3;
}

.about-container {
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}
