@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url(../../public/background_main.webp);
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.bg-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  height: 100%;
  width: 100%;
}

.about-overlay {
  display: flex;
  position: relative;
  z-index: 3;
}

.about-container {
  flex-direction: column;
}
